extends layout

block content
  .page_modal
      h2.sub_title Start Saving Big.
      .modal_pad
        h1 Contact Volare
        h3 Get in touch with us!
        .page_content
          p
            | Chief Executive Officer: Matt Chen - mattchen82@gmail.com
            br
            | Chief Technology Officer: Matt Rials - matthew.rials@gmail.com

        .sidebar
          .widget
            h4 A Widget Area
            p
              | Sidebar area for banners, feature listings, general information, links, you name it!

          .widget
            h4 A Widget Area
            p
              | Sidebar area for banners, feature listings, general information, links, you name it!

        .clear