extends layout

block content
  .page_modal
      h2.sub_title Start Saving Big.
      .modal_pad
        h1 Sign In to Savings
        h3 Enter your username and password below:
        .page_content.full_width
          .loginbox
            h1 Log In
            form
              input.username_login(placeholder='Username', type='text')
              input.password_login(placeholder='Password', type='text')
              input(type='submit', value='Log in')

        .clear