extends layout

block content
  .loginbox
    h1 Log In
    h6
      | Need an account? 
      a(href='/login') Click here 
      | to sign up.
    form
      input.username_login(placeholder='Username', type='text')
      input.password_login(placeholder='Password', type='text')
      input(type='submit', value='Log in')

    .clear