extends layout

block content
  .loginbox.registerbox
    h1 Register
    h6
      | Already a Member? 
      a(href='/login') Click here 
      | to sign in.
    form#registerform
      input.firstname_register(placeholder='First Name', type='text')
      input.lastname_register(placeholder='Last Name', type='text')
      input.username_register(placeholder='Username', type='text')
      input.password_register(placeholder='Password', type='password')
      input.cpassword_register(placeholder='Confirm Password', type='password')
      select.ffprogram_select
        option Frequent Flyer Program
        option American AAdvantage
        option Delta SkyMiles
        option Frontier EarlyReturns
        option HawaiianMiles
        option JetBlue TrueBlue
        option Southwest Rapid Rewards
        option United Mileage Plus
        option US Dividend Miles
        option Virgin America eleVAte
      input.flierid_register(placeholder='Flier ID..', type='text')
      input(type='submit', value='Register Now')

    .clear