<div class="page_modal">
  <h2 class="sub_title"> About Volare </h2>
  <div class="modal_pad">
    <div class="page_content full">
      <p>
        Volare crafted our search engine to assist frequent fliers in earning
        the most elite qualifying and rewards mileage possible while booking
        tickets for future travels on our website. As a result, Volare enables
        our users to achieve the highest frequent flier status possible in their
        respective rewards program based on their existing travel habits.
      </p>
      <p>
        We have designed a search mechanism that takes into account of each
        user's current premier mileage and premier mileage till advancing to
        a higher status in addition to the conventional reward mileage earned
        on each flight. Our ultimate goal is to navigate our users around the
        complicated rules of each airline's rewards program and assist them in
        enhancing their travel experiences through helping them achieve the
        highest frequent flier status possible.
       </p>  
    </div>
    <div class="clear"></div>
   </div>
</div>