<div class="page_modal">
  <h2 class="sub_title"> Who Are We? </h2>
  <div class="modal_pad">
    <div class="page_content full"> 
      <a href="http://www.linkedin.com/pub/matthew-h-w-chen/22/622/294" target="_blank">
        <%= image_tag 'chen.jpg', :class => "circular" %>
      </a>
      <br />
      <h1>
        <a class="blank_link" href="http://www.linkedin.com/pub/matthew-h-w-chen/22/622/294" target="_blank">
          &nbsp Matthew Chen
        </a>
      </h1>
      <h3> &nbsp &nbsp Chief Executive Officer </h3>
      <p>
        Matthew Chen is a student at Columbia University. He plans to 
        major in Operations Research with a minor in Economics and 
        Political Science. He is the Chief Financial Officer for the 
        Lionfund LLC, a hedge fund run by Columbia students and an active 
        member in the Columbia Financial Investment Group. 
      </p>
      <p>
        Before the formation of Volare Inc, Matthew developed and patented 
        the PaceWatch during the summer of his junior year with 5 other 
        individuals, a device that was designed to assist students properly 
        pace themselves during standardized testing. Matthew is a freelance 
        writer for the Airways Magazine, and published five cover page stories 
        about commercial aviation industries in China, Taiwan, Hong Kong / 
        Macau, South Korea and Indonesia. He also co-founded a English Summer 
        Program for underprivileged students in Shanghai, China.
      </p>
      <hr />

      <a href="http://www.linkedin.com/pub/matthew-rials/67/537/262/" target="_blank">
        <%= image_tag 'rials.jpg', :class => "circular" %>
      </a>
      <br />
      <h1> 
        <a class="blank_link" href="http://www.linkedin.com/pub/matthew-rials/67/537/262/" target="_blank">
          &nbsp Matthew Rials
        </a>
      </h1>
      <h3> &nbsp &nbsp Chief Technology Officer </h3>
      <p>
        Matthew Rials is a Stanford Engineering Undergraduate currently studying 
        Computer Science. He is a self-taught developer with extensive knowledge 
        of C++, Perl, Java, and web programming languages. He is an active developer
        for the Bitcoin community, with projects ranging from academic work for the 
        Stanford Bitcoin Group to an e-commerce site, eBit, based on the new currency.
        Matthew is also a proficient iOS developer, with many diverse apps for sale.
        Homework Buddy, a shared homework planner, together with Goofy Goggles, a fun 
        picture-masking app, have been downloaded over 50,000 times. 
      </p>
      <p>
        Matthew has also interned for the medical conferencing company 1DocWay, worked
        at the video rental chain Family Video, and caddied at the Golf Club in New 
        Albany, Ohio. 
      </p>
    </div>
    <div class="clear"></div>
  </div>
</div>